.personal-page-wrap-white {
    border-radius: 25px;
    border: 1px solid #00000040;
    color: black;
    height: 50px;
    cursor: pointer;
    vertical-align: middle;
    min-width: 200px;
    background: #001e3610;
    margin-top: 20px;
}

.personal-page-wrap-white:hover {
    background: #001e3640;
    border: 1px solid #00000060;
    
}

.personal-page-avatar-white {
    border-radius: 50%;
    height: 65px;
    width: 65px;
    display: inline-block;
    margin-left: -30px;
    margin-top: -20px;
}

.personal-page-text-white {
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
    margin-top: -34px;
    margin-left: 10px;
}
